.dx-scheduler-all-day-table-row {
    height: 150px;
}

/* Left and right column */
.column.left {
    width: 10%;
}

/* Middle column */
.column.middle {
    width: 65%;
}

.column.right {
    width: 25%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.llbutton {
    background-color:#212529;
    border: none;
    color: black;
    padding: 10px 124px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    cursor: pointer;
}

.llbtn-info {
    padding: 1em 0.5em 1em 0.5em;
    font-size: 12px;
    color: darkgray;
    background-color: #212529;
    border-color: darkgray;
    /*background-color: #17a2b8;*/
    /*border-color: #17a2b8;*/
    display: inline-block;
    width: 95%;
}

.button80per {
    width: 60%;
}

body {
  padding-top: 1rem;

}

.bg-img {
    /* The image used */
    background-image: url("img_nature.jpg");
    min-height: 380px;
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}