@model HolidayWeb.Models.HolidayEntitlement
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>HolidayEntitlement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>




            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <select asp-for="Year" class="form-control">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                </select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>


            @*<div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <label asp-for="YearsEntitlement" class="control-label"></label>
                <input asp-for="YearsEntitlement" class="form-control" />
                <span asp-validation-for="YearsEntitlement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

